# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate.log

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
.web_entrypoint.sh

# Symbol database for VS Code
symbol_docs/

# Coverage to submit to Coveralls
coverage/

# Android related
**/android/local.properties
**/android/key.properties
**/android/app/src/main/res/raw/
**/android/app/build/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/app/src/main/res/values/strings.xml
**/android/app/src/main/res/xml/
**/android/app/src/main/res/mipmap-*
**/android/app/src/main/res/drawable-*

# iOS related
**/ios/Runner/Assets.xcassets/
**/ios/Runner/Base.lproj/
**/ios/Runner/Info.plist
**/ios/Runner/main.m
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_play_ground.zip
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Runner/GeneratedPluginRegistrant.swift
**/ios/Runner/GeneratedPluginRegistrant.objc
**/ios/.symlinks/
**/ios/Pods/
**/ios/build/
**/ios/Flutter/ephemeral/

# macOS related
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Pods/

# Linux related
**/linux/flutter/ephemeral/

# Windows related
**/windows/flutter/ephemeral/

# Crashlytics generated file
ios/Firebase/
