/build/*
!/build/content/
!/build/content-twoside/
!/build/bulletin-vi/
!/build/bulletin-en/
!/build/summary-vi/
!/build/summary-en/
!/build/smoke/
/build/*/*
!/build/content/content.pdf
!/build/content-twoside/content.pdf
!/build/bulletin-vi/bulletin-vi.pdf
!/build/bulletin-en/bulletin-en.pdf
!/build/summary-vi/summary-vi.pdf
!/build/summary-en/summary-en.pdf
!/build/smoke/smoke.pdf
__pycache__/
*.pyc
*.aux
*.log
